rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /diaries/{docId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null
                   && docId.matches(request.auth.uid + '_.*');
    }
    match /products/{productId} {
      allow read, write: if request.auth != null;
    }
    match /profiles/{uid} {
      allow read: if request.auth != null;
      allow write: if request.auth.uid == uid;
    }
  }
}